<%- include('partials/header') -%>

<div class="container">
    <form action="/new-note" class="form-note" method="POST">
        <div class="fields">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="title" type="text" class="title-input">
        </div>

        <div class="fields">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="description" cols="30" rows="10" class="desc-input"></textarea>
        </div>

        <div class="save-cancel-btn">
            <a href="/">
                <button class="cancel" type="button">Cancel</button>
            </a>
            <button class="save" type="submit">Save</button>
        </div>
    </form>
</div>

<%- include('partials/footer') -%>